@import '../../main.scss';

.projects {
  background-color: $page-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  h1 {
    font-size: 50px;
    margin: 10px;
    color: $title-color;
    min-height: 60px;

    @include wide-screen {
      font-size: 35px;
      transition: font-size 400ms linear;
      overflow: hidden;
    }
    @include small-screen {
      font-size: 28px;
      min-height: 32px;
    }
    @include mobile-screen {
      font-size: 20px;
      margin: 5px;

    }
  }

  .projects-container {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include wide-screen {
      width: 90%;
      transition: width 400ms linear;
    }

    .project-card {
      width: 380px;
      height: 250px;
      border-radius: 7px;
      border: 1px solid $primary-color;
      margin: 15px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      transition: all 1s ease;

      @include wide-screen {
        width: 300px;
        height: 200px;
        transition: width 400ms linear;
        transition: height 400ms linear;
      }
      @include small-screen {
        width: 245px;
        height: 165px;
    
      }
      @include mobile-screen {
        width: 265px;
        height: 175px;
       
      }


      h3 {
        font-size: 22px;
        position: absolute;
        margin-bottom: 50px;

        @include small-screen {
          font-size: 18px;
          transition: font-size 400ms linear;
          margin-bottom: 45px;

        }
        @include mobile-screen {
          font-size: 16px;
          transition: font-size 400ms linear;
        }


      }

      .button-wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        margin-top: 50px;
        overflow: hidden;

        @include small-screen {
          margin-top: 45px;
        }

        a {
          color: inherit;
          .github-icon,
          .launch-icon {
            margin: 10px;
            font-size: 40px;
            cursor: pointer;

            @include small-screen {
              font-size: 30px;
              transition: font-size 400ms linear;
            }
            @include mobile-screen {
              font-size: 27px;
              transition: font-size 400ms linear;
            }
          }
          .launch-icon {
            color: darkblue;
          }
          &:hover {
            transform: scale(1.1);
            transition: 0.3s;
          }
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        cursor: pointer;
      }

      &:hover {
        background-color: $secodary-color;
        img {
          opacity: 0.07;
          z-index: 0;
        }
      }
    }
  }
}
