@import "../../main.scss";

.resume {
  background-color: $page-background;
  display: flex;
  justify-content: center;
  @include mobile-screen {
   overflow: hidden;
  }

  .resume-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    position: relative;

    @include wide-screen {
      width: 70%;
      transition: width 400ms linear;
    }
    @include small-screen {
      width: 85%;
    }
    @include mobile-screen {
      width: 90%;
    }

    h2 {
      font-size: 50px;
      margin: 10px;
      color: $title-color;

      @include wide-screen {
        font-size: 35px;
        transition: font-size 400ms linear;
      }
      @include small-screen {
        font-size: 28px;
      }
      @include mobile-screen {
        font-size: 20px;
      }
    }

    .skill-icons {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .icon {
        font-size: 100px;
        padding: 10px 20px;

        @include wide-screen {
          font-size: 85px;
          transition: font-size 400ms linear;
        }
        @include small-screen {
          font-size: 75px;
        }
        @include mobile-screen {
          font-size: 60px;
          padding: 5px 20px;
        }
      }
      #html-icon {
        color: rgb(255, 98, 0);
      }
      #css-icon {
        color: rgb(33, 77, 251);
      }
      #bootstrap-icon {
        color: rgb(129, 42, 215);
      }
      #javascript-icon {
        color: rgb(218, 183, 10);
      }
      #jquery-icon {
        color: rgb(17, 83, 216);
      }
      #react-icon {
        color: rgb(0, 208, 255);
      }
      #node-icon {
        color: rgb(72, 72, 72);
      }
      #mysql-icon {
        color: rgb(0, 111, 196);
      }
      #mongodb-icon {
        color: rgb(23, 169, 23);
      }
    }

    a {
      margin-top: 30px;
      button {
        font-size: 16px;
        padding: 15px;
        background-color: $secodary-color;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        @include small-screen {
          padding: 12px;
        }
        @include mobile-screen {
          padding: 10px;
          font-size: 14px;
        }

        &:hover {
          background-color: $button-hover;
        }
      }
    }

    .anchor-arrow-up {
      position: absolute;
      bottom: 20px;
      color: black;
      @include mobile-screen {
        bottom: 70px;
      }
      .arrow-up-icon {
        font-size: 45px;
        animation: arrowBlink 2s infinite;

        @include small-screen {
          font-size: 40px;
          transition: font-size 400ms linear;
        }
        @include mobile-screen {
          font-size: 30px;
        }
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
