@import "../../main.scss";

.resume {
  background-color: $primary-background;
  display: flex;
  justify-content: center;

  .resume-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    position: relative;

    @include wide-screen {
      width: 70%;
      transition: width 400ms linear;
    }
    @include small-screen {
      width: 85%;
    }
    @include mobile-screen {
      width: 90%;
    }

    h2 {
      font-size: 50px;
      margin-top: 10px;
      color: $title-color;

      @include wide-screen {
        font-size: 35px;
        transition: font-size 400ms linear;
      }
      @include small-screen {
        font-size: 28px;
      }
      @include mobile-screen {
        margin-top: 30px;
        font-size: 20px;
        overflow: hidden;
      }
    }

    .skill-icons {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .icon {
        font-size: 100px;
        padding: 10px 20px;
        margin: 10px;
        border: 1px solid #b76604;
        box-shadow: 0px 0px 10px $button;
        @include wide-screen {
          font-size: 85px;
          transition: font-size 400ms linear;
        }
        @include small-screen {
          font-size: 75px;
        }
        @include mobile-screen {
          font-size: 60px;
          padding: 5px 20px;
          margin: 5px;
          box-shadow: 0px 0px 5px $button;
        }
      }
      #html-icon {
        color: rgb(255, 98, 0);
      }
      #css-icon {
        color: rgb(33, 77, 251);
      
      }
      #bootstrap-icon {
        color: rgb(129, 42, 215);
      }
      #javascript-icon {
        color: rgb(218, 183, 10);
      }
      #jquery-icon {
        color: rgb(17, 83, 216);
      }
      #react-icon {
        color: rgb(0, 208, 255);
      }
      #node-icon {
        color: rgb(149, 149, 149);
      }
      #mysql-icon {
        color: rgb(0, 111, 196);
  
      }
      #mongodb-icon {
        color: rgb(23, 169, 23);
        border: 1px solid #b76604;
        box-shadow: 0px 0px 10px $button;
      }
    }

    a {
      margin-top: 30px;
      button {
        font-size: 16px;
        padding: 15px;
        background-color: $button;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        @include small-screen {
          padding: 12px;
        }
        @include mobile-screen {
          padding: 10px;
          font-size: 14px;
        }

        &:hover {
          background-color: $button-hover;
        }
      }
    }

    .anchor-arrow-up {
      position: absolute;
      bottom: 20px;
      color: whitesmoke;
      @include mobile-screen {
        bottom: 60px;
      }
      .arrow-up-icon {
        font-size: 55px;
        animation: arrowBlink 2s infinite;

        @include small-screen {
          font-size: 45px;
          transition: font-size 400ms linear;
        }
        @include mobile-screen {
          font-size: 40px;
        }
      }
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
