@import "../../main.scss";

.about-me {
  background-color: white;
  display: flex;
  @include wide-screen {
    flex-direction: column;
  }
  .left-side {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    @include wide-screen {
      flex: 0.6;
      min-height: 430px;
    }
    @include small-screen {
      flex: 0.3;
      min-height: 440px;
    }

    @include mobile-screen {
      flex: 0.4;
      min-height: fit-content;
    }
    .photo-container {
      width: 70%;
      background-color: $secodary-color;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      @include wide-screen {
        width: 40%;
      }
      @include small-screen {
        width: 400px;
        background-color: white;
        transition: width 400ms linear;
      }
      @include mobile-screen {
        width: 238px;
      }
      #photo {
        margin: 25px;
        margin-bottom: 0px;
      }
    }
  }

  .right-side {
    min-height: 600px;
    margin-right: 40px;
    flex: 0.5;
    overflow: hidden;
    position: relative;

    @include wide-screen {
      flex: 0.4;
      margin-right: 0;
      min-height: 250px;
    }
    @include small-screen {
      flex: 0.7;
    }
    @include mobile-screen {
      flex: 0.6;
      min-height: fit-content;
    }

    .right-side-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include wide-screen {
        align-items: center;
        justify-content: flex-start;
      }

      h1 {
        font-size: 50px;
        margin: 10px 0;
        color: $title-color;

        @include wide-screen {
          margin: 5px 0;
          font-size: 35px;
          transition: font-size 400ms linear;
        }
        @include small-screen {
          font-size: 28px;
          transition: font-size 400ms linear;
          margin: 5px 0;
        }

        @include mobile-screen {
          font-size: 20px;
          margin: 5px 0;
        }
      }
      h2 {
        font-size: 30px;
        color: $title-color;

        @include wide-screen {
          font-size: 25px;
          transition: font-size 400ms linear;
        }
        @include small-screen {
          font-size: 20px;
          transition: font-size 400ms linear;
        }

        @include mobile-screen {
          font-size: 16px;
        }
      }
      h3 {
        font-size: 30px;
        color: $title-color;

        @include wide-screen {
          font-size: 25px;
          transition: font-size 400ms linear;
        }
        @include small-screen {
          font-size: 20px;
          transition: font-size 400ms linear;
        }

        @include mobile-screen {
          font-size: 16px;
        }

        span {
          color: $secodary-color;
        }
      }

      p {
        margin-top: 10px;
        font-size: 18px;
        color: $title-color;
        @include wide-screen {
          text-align: justify;
          padding: 0 30px;
        }
        @include small-screen {
          font-size: 16px;
          transition: font-size 400ms linear;
        }
        @include mobile-screen {
          font-size: 14px;
        }
      }
    }

    a {
      position: absolute;
      bottom: 10px;
      left: 45%;
      color: black;
      @include mobile-screen {
        bottom: 70px;
      }
      .arrow-down-icon {
        font-size: 70px;
        font-weight: lighter;
        animation: arrowBlink 2s infinite;

        @include small-screen {
          font-size: 60px;
          transition: font-size 400ms linear;
        }
        @include mobile-screen {
          font-size: 50px;
        }
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
