.nav-menu {
  transition: all 1s ease;
  width: 350px;
  height: 100vh;
  background-color: rgb(128, 128, 128);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: -350px;

  &.active {
    right: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    font-size: 35px;
    list-style: none;
    width: 60%;
  }

  li {
    margin-top: 25px;
    a {
      font-size: inherit;
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      transform: scale(0.9);
      transition: 0.2s;
    }
  }
}
