@import '../../main.scss';

.nav-menu {
  transition: all 0.5s ease;
  width: 350px;
  height: 100vh;
  background-color: #e8c395;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: -350px;

  @include small-screen {
    width: 280px;
    right: -280px;
  }
  @include mobile-screen {
    width: 260px;
    right: -260px;
  }

  &.active {
    right: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    font-size: 35px;
    list-style: none;
    color: $primary-background;
    width: 60%;
    @include small-screen {
      font-size: 28px;
      transition: font-size 400ms linear;
    }
    @include mobile-screen {
      font-size: 24px;
      transition: font-size 400ms linear;
    }
  }

  li {
    margin-top: 25px;
    a {
      font-size: inherit;
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      transform: scale(0.9);
      transition: 0.2s;
    }
  }
}
