@import '../../main.scss';

.contact-me {
  background-color: $secondary-background;
  display: flex;
  @include mobile-screen {
    overflow: hidden;
  }
  .contact-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 600px;

    @include mobile-screen {
      min-height: 500px;
      overflow: hidden;
    }

    h2 {
      font-size: 50px;
      color: $title-color;
      @include wide-screen {
        font-size: 35px;
        transition: font-size 400ms linear;
      }
      @include small-screen {
        font-size: 30px;
        transition: font-size 400ms linear;
      }
      @include mobile-screen {
        font-size: 20px;
        transition: font-size 400ms linear;
      }

    }
    form {
      width: 80%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;

  
      @include wide-screen {
        width: 100%;
        transition: width 400ms linear;
      }
      @include small-screen {
        width: 140%;
        transition: width 400ms linear;
      }

      input {
        background-color: $secondary-background;
        border: solid 2px #b76604;
        width: 50%;
        height: 35px;
        font-size: 14px;
        border-radius: 5px;
        margin-top: 10px;
        color: whitesmoke;

        @include mobile-screen {
          height: 30px;
          transition: height 400ms linear;
        }
     
      }
      textarea {
        width: 50%;
        height: 200px;
        font-size: 14px;
        border-radius: 5px;
        margin-top: 15px;
        color: whitesmoke;
        background-color: $secondary-background;
        border: solid 2px #b76604;

        @include mobile-screen {
          height: 180px;
          transition: height 400ms linear;
        }
      }
      .error {
        margin: 4px;
        color: rgb(235, 42, 42);
        overflow: hidden;
      }
      button {
        font-size: 16px;
        width: 150px;
        height: 35px;
        background-color: $button;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 10px;

        @include mobile-screen {
          width: 120px;
          height: 32px;
          font-size: 14px;
        }

        &:hover {
          background-color: $button-hover;
        }
      }
      span {
        color: green;
      }
    }
  }
}
