@import '../../main.scss';

.contact-me {
  background-color: white;
  display: flex;

  .contact-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 600px;

    h2 {
      font-size: 50px;
      color: $title-color;
      @include small-screen {
        font-size: 35px;
        transition: font-size 400ms linear;
      }
    }
    form {
      width: 80%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;

  
      @include wide-screen {
        width: 100%;
        transition: width 400ms linear;
      }
      @include small-screen {
        width: 140%;
        transition: width 400ms linear;
      }

      input {
        width: 50%;
        height: 35px;
        font-size: 14px;
        border-radius: 5px;
        margin-top: 10px;

     
      }
      textarea {
        width: 50%;
        height: 200px;
        font-size: 14px;
        border-radius: 5px;
        margin-top: 15px;
      }
      .error {
        margin: 4px;
        color: rgb(235, 42, 42);
      }
      button {
        font-size: 16px;
        width: 150px;
        height: 35px;
        background-color: $secodary-color;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 10px;

        &:hover {
          background-color: $button-hover;
        }
      }
      span {
        color: green;
      }
    }
  }
}
