.contact-me {
    background-color: white;
    display: flex;

    .contact-container {
        position: relative;
        flex: 1 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        
        h2 {
            font-size: 50px;
        }
        form {
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;


            input {
                width: 400px;
                height: 30px;
                font-size: 14px;
                border-radius: 5px;

            }
            textarea {
                width: 400px;
                height: 200px;
                font-size: 14px;
                border-radius: 5px;

            }

            button {
                font-size: 16px;
                width: 150px;
                height: 35px;
                background-color: darksalmon;
                border: none;
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    background-color: rgb(203, 108, 76);
                }
            }
            span {
                color: green;
            }
        }
    }
}