@import './main.scss';

.app-wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
  .container {
    width: 100%;
    height: calc(100vh - 80px);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-top: 80px;
    @include mobile-screen {
      height: calc(100vh - 60px);
      margin-top: 60px;
    }
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      // width: 100vw;
      height: calc(100vh - 80px);
      scroll-snap-align: start;
      @include mobile-screen {
        height: calc(100vh - 60px);
      }
    }

    @include mobile-screen {
      scroll-snap-type: none;
    }
  }
}
