$title-color: #fea63a;
$primary-background: #001829;
$secondary-background: #00243D;
$button-hover: #ffa436;
$button: #f48600;


@mixin wide-screen {
    @media (max-width: 1024px) {
        @content
    }    
};

@mixin small-screen {
    @media (max-width: 768px) {
        @content
    }    
};

@mixin mobile-screen {
    @media (max-width: 420px) {
        @content
    }    
}