$primary-color: rgb(128, 128, 128);
$secodary-color: darksalmon;
$title-color: rgb(70, 70, 70);
$page-background: rgb(218, 218, 218);
$button-hover: rgb(203, 108, 76);



@mixin widescreen {
    @media (max-width: 1024px) {
        @content
    }    
};

@mixin ipad-tablet {
    @media (max-width: 768px) {
        @content
    }    
}